In [1]:
# Make Jupyter Notebook full screen 
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

## Objective:

Want to make heat maps of the city using current bus routes. Maps include:

- Average number of transfers
- Farthest distance possible with zero transfers

### Notes:  

- FarthestDistance() only works with zero transfers, need to make that more as an update to the code
- deleted 6 trips with 24:00:00 arrival time. Can't convert to datetime, fix later if concerned about this affecting data, not sure why there is even a midnight arrival time... Trips: 993926, 994625, 994105, 994511, 994066, 993855

Author: Megan Tabbutt <br/>
Last Updated: 9_8_20

In [25]:
# imports:

import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [8]:
# Data paths: 

GTFS_DATA_PATH = "mmt_gtfs/"
# import os; os.listdir(GTFS_DATA_PATH) # Peak whats in the directory

In [9]:
# Set matplotlib preferences for rest of notebook:
%matplotlib inline

font = {'family' : 'serif', 'weight' : 'normal', 'size'   : 18}
plt.rc('font', **font) #Set this one as the defult, change to 1 or 2 in the plotting code cell

font1 = {'family': 'serif', 'weight': 'bold', 'size': 20, }
font2 = {'family': 'serif', 'weight': 'normal', 'size': 16, }

In [129]:
# need to fix bad formatting in the spreadsheet of times, need to worry about time delta objects being too large now, b/c has date
stop_times_df = getPandasDFCSV(GTFS_DATA_PATH, 'stop_times.txt')
#stop_times_df.info()
#stop_times_df.head(3)

index = 0
for i in stop_times_df['arrival_time']:
    timeList = i.split(":")
    if timeList[0] == '24':
        timeList[0] =  '00'
        timeString = ":".join(timeList)
        stop_times_df['arrival_time'][index] = timeString
    if timeList[0] == '25':
        timeList[0] =  '01'
        timeString = ":".join(timeList)
        stop_times_df['arrival_time'][index] = timeString
    if timeList[0] == '26':
        timeList[0] =  '02'
        timeString = ":".join(timeList)
        stop_times_df['arrival_time'][index] = timeString
    if timeList[0] == '27':
        timeList[0] =  '03'
        timeString = ":".join(timeList)
        stop_times_df['arrival_time'][index] = timeString
        
    index += 1
    
stop_times_df.info()
stop_times_df.head(3)

/Users/megantabbutt/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/megantabbutt/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/megantabbutt/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/megantabbutt/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217197 entries, 0 to 217196
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              217197 non-null  int64
 1   stop_sequence        217197 non-null  int64
 2   stop_id              217197 non-null  int64
 3   pickup_type          217197 non-null  int64
 4   drop_off_type        217197 non-null  int64
 5   arrival_time         217197 non-null  object
 6   departure_time       217197 non-null  object
 7   timepoint            217197 non-null  int64
 8   stop_headsign        217197 non-null  object
 9   shape_dist_traveled  217197 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 16.6+ MB

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,9999999,1,7605,0,1,5:27:00,5:27:00,1,EAST TRANSFER,0.0249
1,9999999,2,7739,0,0,5:27:40,5:27:40,0,EAST TRANSFER,0.2003
2,9999999,3,7119,0,0,5:28:33,5:28:33,0,EAST TRANSFER,0.4352

In [16]:
trips_df = getPandasDFCSV(GTFS_DATA_PATH, 'trips.txt')
trips_df.info()
trips_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5857 entries, 0 to 5856
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   route_id               5857 non-null   int64
 1   route_short_name       5857 non-null   int64
 2   service_id             5857 non-null   object
 3   trip_id                5857 non-null   int64
 4   trip_headsign          5857 non-null   object
 5   direction_id           5857 non-null   int64
 6   direction_name         5857 non-null   object
 7   block_id               5857 non-null   int64
 8   shape_id               5857 non-null   int64
 9   shape_code             5857 non-null   object
 10  trip_type              5272 non-null   object
 11  trip_sort              5857 non-null   int64
 12  wheelchair_accessible  5857 non-null   int64
 13  bikes_allowed          5857 non-null   int64
dtypes: int64(9), object(5)
memory usage: 640.7+ KB

,route_id,route_short_name,service_id,trip_id,trip_headsign,direction_id,direction_name,block_id,shape_id,shape_code,trip_type,trip_sort,wheelchair_accessible,bikes_allowed
0,9041,16,92_WKD,9999999,EAST TRANSFER,0,East Transfer,193133,55293,P16E,D,19620,1,1
1,9028,2,92_WKD,1007843,NORTH TRANSFER: VIA SHERMAN,0,North Transfer,194263,55156,2S,W,20100,1,1
2,9028,2,92_WKD,1007844,NORTH TRANSFER: VIA FORDEM,0,North Transfer,194056,55154,2F,W,21600,1,1
3,9028,2,92_WKD,1007499,NORTH TRANSFER: VIA SHERMAN,0,North Transfer,194052,55156,2S,D,23400,1,1
4,9028,2,92_WKD,1007497,NORTH TRANSFER: VIA FORDEM,0,North Transfer,194058,55154,2F,D,25200,1,1

In [123]:
stop_times_df = getPandasDFCSV(GTFS_DATA_PATH, 'stop_times.txt')
stop_times_df.info()
stop_times_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217197 entries, 0 to 217196
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              217197 non-null  int64
 1   stop_sequence        217197 non-null  int64
 2   stop_id              217197 non-null  int64
 3   pickup_type          217197 non-null  int64
 4   drop_off_type        217197 non-null  int64
 5   arrival_time         217197 non-null  object
 6   departure_time       217197 non-null  object
 7   timepoint            217197 non-null  int64
 8   stop_headsign        217197 non-null  object
 9   shape_dist_traveled  217197 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 16.6+ MB

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,9999999,1,7605,0,1,5:27:00,5:27:00,1,EAST TRANSFER,0.0249
1,9999999,2,7739,0,0,5:27:40,5:27:40,0,EAST TRANSFER,0.2003
2,9999999,3,7119,0,0,5:28:33,5:28:33,0,EAST TRANSFER,0.4352

In [128]:
stop_times_df['arrival_time'] = pd.to_datetime(stop_times_df['arrival_time'], format='%H:%M:%S')

stop_times_df[stop_times_df['trip_id'] ==  993926]

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
198636,993926,1,10,0,1,1900-01-01 23:55:00,23:55:00,1,MEMORIAL UNION: VIA EAGLE HTS,0.0081
198637,993926,2,60,0,0,1900-01-01 23:56:13,23:56:13,0,MEMORIAL UNION: VIA EAGLE HTS,0.2635
198638,993926,3,52,0,0,1900-01-01 23:56:43,23:56:43,0,MEMORIAL UNION: VIA EAGLE HTS,0.3702
198639,993926,4,488,0,0,1900-01-01 23:57:22,23:57:22,0,MEMORIAL UNION: VIA EAGLE HTS,0.5053
198640,993926,5,184,0,0,1900-01-01 23:58:06,23:58:06,0,MEMORIAL UNION: VIA EAGLE HTS,0.6601
198641,993926,6,532,0,0,1900-01-01 23:58:37,23:58:37,0,MEMORIAL UNION: VIA EAGLE HTS,0.7676
198642,993926,7,2996,0,0,1900-01-01 23:59:10,23:59:10,0,MEMORIAL UNION: VIA EAGLE HTS,0.8845
198643,993926,8,2978,0,0,1900-01-01 00:00:00,24:00:00,1,MEMORIAL UNION: VIA EAGLE HTS,1.0467
198644,993926,9,2442,0,0,1900-01-01 00:00:35,24:00:35,0,MEMORIAL UNION: VIA EAGLE HTS,1.1983
198645,993926,10,2088,0,0,1900-01-01 00:01:54,24:01:54,0,MEMORIAL UNION: VIA EAGLE HTS,1.5375
198646,993926,11,2125,0,0,1900-01-01 00:02:37,24:02:37,0,MEMORIAL UNION: VIA EAGLE HTS,1.7236
198647,993926,12,2023,0,0,1900-01-01 00:03:17,24:03:17,0,MEMORIAL UNION: VIA EAGLE HTS,1.8941
198648,993926,13,2027,0,0,1900-01-01 00:04:00,24:04:00,1,MEMORIAL UNION: VIA EAGLE HTS,2.0662
198649,993926,14,2938,0,0,1900-01-01 00:05:09,24:05:09,0,MEMORIAL UNION: VIA EAGLE HTS,2.3378
198650,993926,15,2041,0,0,1900-01-01 00:06:21,24:06:21,0,MEMORIAL UNION: VIA EAGLE HTS,2.6184
198651,993926,16,2018,0,0,1900-01-01 00:07:13,24:07:13,0,MEMORIAL UNION: VIA EAGLE HTS,2.8219
198652,993926,17,2026,0,0,1900-01-01 00:07:34,24:07:34,0,MEMORIAL UNION: VIA EAGLE HTS,2.9060
198653,993926,18,2082,0,0,1900-01-01 00:08:00,24:08:00,1,MEMORIAL UNION: VIA EAGLE HTS,3.0008
198654,993926,19,2054,0,0,1900-01-01 00:08:28,24:08:28,0,MEMORIAL UNION: VIA EAGLE HTS,3.1775
198655,993926,20,2039,0,0,1900-01-01 00:09:18,24:09:18,0,MEMORIAL UNION: VIA EAGLE HTS,3.4911
198656,993926,21,2061,0,0,1900-01-01 00:09:28,24:09:28,0,MEMORIAL UNION: VIA EAGLE HTS,3.5595
198657,993926,22,2071,0,0,1900-01-01 00:09:42,24:09:42,0,MEMORIAL UNION: VIA EAGLE HTS,3.6493
198658,993926,23,2014,0,0,1900-01-01 00:10:11,24:10:11,0,MEMORIAL UNION: VIA EAGLE HTS,3.8338
198659,993926,24,2034,0,0,1900-01-01 00:10:42,24:10:42,0,MEMORIAL UNION,4.0277
198660,993926,25,2048,0,0,1900-01-01 00:11:04,24:11:04,0,MEMORIAL UNION,4.1706
198661,993926,26,2881,0,0,1900-01-01 00:11:48,24:11:48,0,MEMORIAL UNION,4.4487
198662,993926,27,2050,0,0,1900-01-01 00:12:26,24:12:26,0,MEMORIAL UNION,4.6886
198663,993926,28,2076,0,0,1900-01-01 00:13:00,24:13:00,1,MEMORIAL UNION,4.8744
198664,993926,29,2349,0,0,1900-01-01 00:13:27,24:13:27,0,MEMORIAL UNION,4.9771
198665,993926,30,2091,0,0,1900-01-01 00:14:05,24:14:05,0,MEMORIAL UNION,5.1194
198666,993926,31,2007,0,0,1900-01-01 00:15:07,24:15:07,0,MEMORIAL UNION,5.3502
198667,993926,32,2267,0,0,1900-01-01 00:16:06,24:16:06,0,MEMORIAL UNION,5.5727
198668,993926,33,2195,0,0,1900-01-01 00:17:00,24:17:00,1,MEMORIAL UNION,5.7660
198669,993926,34,2145,0,0,1900-01-01 00:18:00,24:18:00,0,MEMORIAL UNION,5.9282
198670,993926,35,298,0,0,1900-01-01 00:18:33,24:18:33,0,MEMORIAL UNION,6.0164
198671,993926,36,573,0,0,1900-01-01 00:19:22,24:19:22,0,MEMORIAL UNION,6.1476
198672,993926,37,438,0,0,1900-01-01 00:20:36,24:20:36,0,MEMORIAL UNION,6.3452
198673,993926,38,706,0,0,1900-01-01 00:21:13,24:21:13,0,MEMORIAL UNION,6.4459
198674,993926,39,336,0,0,1900-01-01 00:23:00,24:23:00,1,MEMORIAL UNION,6.7234
198675,993926,40,5,0,0,1900-01-01 00:23:53,24:23:53,0,MEMORIAL UNION,6.8912
198676,993926,41,61,0,0,1900-01-01 00:24:45,24:24:45,0,MEMORIAL UNION,7.0566
198677,993926,42,75,0,0,1900-01-01 00:25:44,24:25:44,0,MEMORIAL UNION,7.2418
198678,993926,43,43,0,0,1900-01-01 00:26:18,24:26:18,0,MEMORIAL UNION,7.3493
198679,993926,44,39,0,0,1900-01-01 00:26:45,24:26:45,0,MEMORIAL UNION,7.4363
198680,993926,45,765,0,0,1900-01-01 00:27:11,24:27:11,0,MEMORIAL UNION,7.5177
198681,993926,46,49,0,0,1900-01-01 00:28:05,24:28:05,0,MEMORIAL UNION,7.6887
198682,993926,47,10,1,0,1900-01-01 00:29:00,24:29:00,1,DROP OFFS ONLY,7.8504

In [13]:
def getPandasDFCSV(path, file, sep=','):  
    """ Keyword Arg sep: deliminator used in txt file (default = ',')"""
    pandasDF = pd.read_csv(path +  file, sep=sep)
    return pandasDF

In [107]:
# given a starting bus stop, look through all the routes that 


def FarthestDistance(startBusStop, pickUpTime, timeDelta=30.0, num_transfers=0):
    """
    pickUpTime: string - format = '%H:%M:%S'
    startBusStop: string - the stop_id of the bus stop that your trip is starting from
    """
    
    # need to get a list of routes that use this stop:
    
    #datetime.strptime(stop_times_df[arrival_time], '%H:%M:%S') - pickUpTime
    #datetime.strptime(stop_times_df[arrival_time], '%H:%M:%S')
    
   # stop_idCondition = stop_times_df['stop_id']==startBusStop
    #timeCondition = (datetime.strptime(stop_times_df['arrival_time'], '%H:%M:%S') - datetime.strptime(pickUpTime, '%H:%M:%S')).seconds < (timeDelta*60)
    
    stop_times_df_trimmed = stop_times_df[stop_times_df['stop_id'] == startBusStop]
    stop_times_df_trimmed['arrival_time'] = pd.to_datetime(stop_times_df_trimmed['arrival_time'], format='%H:%M:%S')
    print(stop_times_df_trimmed.info())
    
    
    
    
    return stop_time_df_trimmed
    
    
    
    
FarthestDistance(993926, '5:26:10')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              0 non-null      int64
 1   stop_sequence        0 non-null      int64
 2   stop_id              0 non-null      int64
 3   pickup_type          0 non-null      int64
 4   drop_off_type        0 non-null      int64
 5   arrival_time         0 non-null      datetime64[ns]
 6   departure_time       0 non-null      object
 7   timepoint            0 non-null      int64
 8   stop_headsign        0 non-null      object
 9   shape_dist_traveled  0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(2)
memory usage: 0.0+ bytes
None

NameError: name 'stop_time_df_trimmed' is not defined

In [ ]:


# These times show up and can cause problems: There are many more too, but be aware. 
# badTimes = ['24:04:00', '24:00:00', '24:23:00', '24:09:00', '24:39:00', '24:13:00', '24:18:00', '24:03:00', '24:21:25', '24:02:57', '24:09:37']

def getBusRouteZeroTransfersFarthestPoint(start, RideKey, startTime): # Ridekey = 87_WKD for now
    
    StartBusRoutes = []
    
    #Find the routes that have this stop as an option for them to stop at

    for i in routesStopsTryAgain:
        if start in routesStopsTryAgain[i]:
            StartBusRoutes.append(i)
    #print(StartBusRoutes)
    
    # Get the dataframe list for these routes
    possibleTrips = []
    for i in StartBusRoutes:
        if 1 > 0:   # I hate untabbing things, to yea, this is true... 
            #print(i)
            tripsDataStart = tripsData[tripsData.route_short_name == int(i)]
            tripsDataStart = tripsDataStart[tripsDataStart.service_id == RideKey]
        
            for j in tripsDataStart.iterrows():
                tripID = j[1]['trip_id']
                stopsTimeData = stopTimesData[stopTimesData.trip_id == tripID]
            
                for n in stopsTimeData.iterrows():
                    if n[1]['stop_id'] == start:
                        #if n[1]['arrival_time'] in badTimes:
                            #continue
                        # There are bad entries for times like in the list given above, just skip these instances
                        try:
                            datetime_objectRoute = datetime.strptime(n[1]['arrival_time'], '%H:%M:%S')
                        except ValueError:
                            continue
                        #print(datetime_objectRoute)
                        datetime_objectStart = datetime.strptime(startTime, '%H:%M:%S')
                        timeDelta = abs(datetime_objectStart - datetime_objectRoute) #I am timedelta object
                        if timeDelta.seconds < (30*60):
                            timeDelta
                            possibleTrips.append(tripID)
    #print(possibleTrips)
    
    #Now we have a list of possible trips, need to find the farthest distance to go in each trip and then the farthest of those possibilities
    farthestPoint = [0.0]
    for trip in possibleTrips:
        stopTimesDataSpec = stopTimesData[stopTimesData.trip_id == int(trip)]
        for stop in stopTimesDataSpec.iterrows():
            startingPoint = stopIDLookUp[str(start)]
            endingStop = stop[1]['stop_id']
            endingPoint = stopIDLookUp[str(endingStop)]
            distanceMiles = MilesDistanceFromGlobePoints(startingPoint[0], startingPoint[1], endingPoint[0], endingPoint[1])
            if distanceMiles > farthestPoint[0]:
                farthestPoint[0] = distanceMiles
    #print(farthestPoint)
    return farthestPoint[0]

# I am example formatting and an example run that will work for testing: 
getBusRouteZeroTransfersFarthestPoint(4100, '87_WKD', '8:20:00')